.discover {
	&__wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		padding: 1rem;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
		place-items: center;
	}
	

	&__content {
	}

	&__subheading {
	}

	&__heading {
		margin-bottom: 1rem;
	}

	&__text {
	}

	&__image {
	}
}
.section-container {
}
.discover-container {
	
}
