.footer {

	&__logo img {
		max-width: 150px;
		@include mediaTablet {
			margin-inline: auto;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 2rem;
		gap: 2rem;
		@include mediaTablet {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__text {
		color: $white;
		@include mediaTablet {
			text-align: center;
			margin-inline: 5rem;
		}
	}

	&__links a {
		transition: 0.4s;
		gap: 0.5rem;
		&:hover {
			color: $secondary-color;
		}
		& i {
			font-size: 1.25rem;
			
		}
	}

	&__address {
		display: flex;
		justify-content: flex-end;
		color: $white;
		padding-bottom: 1rem;
		font-weight: 500;
		@include mediaTablet {
			justify-content: center;
		}
	}

	&__mail {
		display: flex;
		justify-content: flex-end;
		color: $white;
		font-weight: 500;
		@include mediaTablet {
			justify-content: center;
		}
	}

	&__social {
		justify-content: flex-end;
		margin-top: 2rem;
    display: flex;
    gap: 1rem;
		@include mediaTablet {
			justify-content: center;
		}
		& a {
			
			
			& i {
				transition: 0.4s;
				color: $white;
				font-size: 1.5rem;
				&:hover{
					color: $secondary-color;
				}
			}
		}
	}


	&__copyright {
		color: $white;
		margin-top: 5rem;
		text-align: center;
	}
}



