.menu {
	&__subheading {
		max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    background-color: $secondary-color;
	}

	&__heading {
		text-align: center;
		margin-bottom: 1rem;
	}

	&__text {
		text-align: center;
		margin-bottom: 1.5rem;
	}

	&__filters {
		display: flex;
		justify-content: center;
		gap: 2rem;
		margin-bottom: 1rem;
	}
	&__filter {
		&-checkbox {
			display: none;
			&:checked + .menu__filter-icon {
				outline: solid 3px black;
			}
		}
		&-icon {
			border-radius: 17px;
			transition: box-shadow 0.3s;
			&:hover {
				box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
			}
		}
		&-icon img {
			padding: 0.5rem;
			max-width: 4rem;
			border-radius: 17px;
			
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		@include mediaTablet {
			grid-template-columns: repeat(2, 1fr);
		}
		@include mediaMobile {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.burger {
	padding: 2rem 1rem;
	border-radius: 1rem;
	text-align: center;
	&:hover{
		box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
	}
	&__image {
		max-height: 200px;
		margin-inline: auto;
		margin-bottom: 2rem;
		filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
	}

	&__heading {
		margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
		font-family: $font-primary;
	}

	&__text {
		margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.75rem;
	}
}
