@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
	scroll-behavior: smooth;
}

body {
	color: $text-dark;
	font-family: $font-primary;
}

h2 {
	font-size: 3rem;
	font-weight: 500;
	font-family: $font-heading;
	color: $primary-color;
	text-shadow: 2px 2px $secondary-color;
	@include mediaTablet {
		font-size: 2.3rem;
	}
}

h3 {
	font-size: 2rem;
	font-weight: 500;
	font-family: $font-subheading;
	color: $text-dark;
	@include mediaTablet {
		font-size: 1.7rem;
	}
}

p {
	font-weight: 500;
	color: $text-dark;
	line-height: 1.75rem;
}

.section-container {
  max-width: 1200px;
	margin-inline: auto;
	padding: 5rem 1rem;
	@include mediaTablet {
		padding: 3rem 1rem;
	}
}

.btn {
	padding: 1rem 1.5rem;
	font-size: 1rem;
	color: $white;
	background-color: $tertiary-color;
	transition: 0.3s;
	&:hover {
		background-color: $primary-color;
	}
}