//Fonts
$font-primary: "Montserrat", sans-serif;
$font-heading: "Alfa Slab One", serif;;
$font-subheading: "Bebas Neue", sans-serif;
//Colors
$primary-color: #42200b;
$secondary-color: #ffc135;
$tertiary-color: #df1c1c;
$text-dark: #212529;
$white: #ffffff;
//Breakpoints
$tablet: 767px;
$mobile: 575px;